.jumbotron{
    background-color: green;
color: black;
margin-top: 50px;
}
.card-hotel{
    flex: 1 200px;
 
   margin-top: 10px;
}
button{background-color: skyblue;}
.footer{
padding: 10px 10px 10px;
background-color:yellow;

margin-bottom: 0px;
margin-top: 10px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2;
}
 /* cambiar color de los botones  */

.btn-reserva{
width: 100%;
border-radius: 0px;

}

.footer-address-icon{

    padding-right:10px ;
}
.tab-content{
    padding-top: 10px;
}