
body{
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px; /* or 950px */
}

.jumbotron {
  background-color:#E1CA96;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; 
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

button {
  background-color: red; }

  #texto-encima{
   position: relative;

    font-family: 'Dancing Script', cursive;
    top: 10px;
    left: 15px;
    font-size: 25px;
    z-index: 5;
    margin-bottom: 20px;
}
#fondo1{
  
 position: relative;
 width: 60%;
 height: 50%;
  margin-top:1%;
  margin-bottom: 5%;
  left : 20%;
  z-index: 1;
}
.sobre{
  margin-top: 50px;
  
  margin-bottom: 100px ;background-image:url("../images/fondoarena.jpg") ;
  
}

#menudd{
 
 max-width: 350px;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
 text-align:center;
 border-style: solid;
}
.men{
 
}
ul {
  margin:0;
  padding:0;
  text-align: center;
  list-style-position: inside;
                 
}
ul>li>ul>li {
  list-style-position: inside;  
  list-style-type: none;            
}

 .btn, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #af871a;
    border-color: rgb(108, 109, 32);
color : white;
  }
 /* cambiar color de los botones  */
 

footer {
  padding: 10px 10px 10px;
  background-color: #E1CA96;
  margin-top: 100px;
  margin-bottom: 0px;
 
}



.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
